@using MvcOnlineTicariOtomasyon.Models.Classes
@model Department
@{
    ViewBag.Title = "AddDepartment";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Departman Ekle</h2>

<br />

<form class="form-group" method="post">
    <label>Departman Adı</label>
    @Html.TextBoxFor(x => x.DepartmentName, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>

</form>


