@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<Personel>
@{
    ViewBag.Title = "DetailsDepartment";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Departman Detay Sayfası</h2>

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Departman Adı: @ViewBag.dp</li>
</ol>


<table class="table table-hover">
    <tr>
        
        <th>Ad ve Soyad</th>
      
        <th>Görsel</th>
        <th>Satışlar</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
          
            <td>@x.PersonelName @x.PersonelSurname</td>
  
            <td><img src="@x.PersonelImagePath" style="width:85px;height:75px" /></td>
            <td><a href="/Department/DepartmentPersonelSales/@x.PersonelID" class="btn btn-default" style="background-color:aqua">Satışlar</a></td>
        </tr>
    }
</table>



